@font-face {
    font-family: Retro Gaming;
    src: url("assets/font/Retro Gaming.ttf");
    font-weight: 400;
    font-weight: normal;
    color: white;
}
html,
body {
    margin: 0;
    background-color: #0d0c0a;
}
canvas {
    display: block;
}
#frame {
    position: absolute;
    overflow: hidden;
    /* width:  100%;
          height: auto; */
}
.logdom {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
    width: 33%;
    margin: 0px;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tooltip {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
    width: 320px;
    margin: 0px;
    height: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: Retro Gaming;
    color: white;
}

.dialogue-box {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
    width: 33%;
    margin: 0px;
    height: 80%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.dialogue-box li {
    color: white;
    padding: 10px;
    font-family: Retro Gaming;
}
.dialogue-box p {
    text-align: right;
    padding: 0.3em;
    font-family: Retro Gaming;
    color: white;
}

.logdom::-webkit-scrollbar {
    display: none;
}

.wiki {
    padding: 0.3em;
    font-family: Retro Gaming;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    width: 66%;
    margin: 0px;
    height: 80%;
    overflow: scroll;
    scrollbar-width: none;
}
